%link-row {
  display: flex;
  height: auto;
  width: 100%;
  min-height: 54px;
  background: white;
  padding: 0;
}

.link-picker {
  @extend %link-row;

  align-items: stretch;
  cursor: pointer;
  box-shadow: none;

  // Add separation between the picker and the multi-link display
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &.font-icon-link::before {
    margin: $spacer-xs;
  }
}

.link-picker__cannot-create {
  cursor: default;
  flex-grow: 1;
  padding: 16px 13px;
}

.link-picker__menu {
  flex-grow: 1;
}

.link-picker__menu-toggle {
  width: 100%;
  height: 100%;
  text-align: left;

  &::before {
    padding: $spacer-xs;
  }
}

.link-picker__menu-icon {
  vertical-align: middle;
  padding-right: 0.7rem;
}

.link-picker__link {
  @extend %link-row;

  align-items: center;
  text-align: left;
  margin-right: 0;
  justify-content: space-between;
  position: relative;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
  }

  // version-state icon
  &::before {
    top: 29px;
    left: 32px;
    content: ' ';
    position: absolute;
    border: 1px solid $state-draft;
    border-radius: 100%;
    bottom: 6px;
    box-shadow: 0 0 1px .5px $white;
    display: block;
    height: 8px;
    width: 8px;
    z-index: 1;
  }

  &--draft::before {
    background-color: $state-draft-bg;
  }

  &--modified::before {
    background-color: $state-modified-bg;
  }

  &--unsaved::before,
  &--unversioned::before,
  &--published::before {
    display: none;
  }

  &--readonly,
  &--disabled {
    background-color: $gray-100;
  }
}

.link-picker__link--is-first,
.link-picker__link--is-sorting {
  border-top: 1px solid $gray-200;
  border-top-left-radius: 0.23rem;
  border-top-right-radius: 0.23rem;
}

.link-picker__link--is-last,
.link-picker__link--is-sorting {
  border-bottom: 1px solid $gray-200;
  border-bottom-left-radius: 0.23rem;
  border-bottom-right-radius: 0.23rem;
}

.link-picker__button {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  min-width: 0;
  text-align: left;
  border: none;
  margin-right: 0;

  &[class*="font-icon-"]::before {
    position: absolute;
    font-size: 1.231rem;
    padding: .76925rem;
    margin-right: 6px;
    flex-grow: 0;
  }
}

.link-picker__drag-handle {
  left: 5px;
  position: absolute;
  z-index: 100;
  height: 15px;

  &:hover {
    cursor: grab;
  }

  .font-icon-drag-handle {
    opacity: 0%;
  }

  &:focus .font-icon-drag-handle {
    opacity: 100%;
  }
}

.link-picker__link:hover {
  .link-picker__drag-handle .font-icon-drag-handle {
    opacity: 100%;
  }
}

// This selector ensures the cursor does not flicker between grabbing and pointer when sorting
.link-picker__links--dragging * {
  cursor: grabbing !important;
}

.link-picker__link-detail {
  flex-grow: 1;
  width: 100%;
  padding: 0 5rem 0 3.5rem;
}

.link-picker__delete {
  flex-grow: 0;
}

.link-picker__url {
  color: $link-color;
}

%cutoff-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-picker__title {
  display: flex;
  align-items: center;
  width: 100%;

  .badge {
    color: #cf3f00;
    background-color: #fff2ea;
    padding: 2px 3px 2px 4px;
  }
}

.link-picker__title-text {
  min-width: 0;
  margin-right: 5px;
  @extend %cutoff-text;
}

.link-picker__type {
  width: 100%;
  @extend %cutoff-text;
}
