%link-row {
  display: flex;
  height: auto;
  width: 100%;
  min-height: 54px;
  background: white;
  padding: 0;
}

.link-picker {
  @extend %link-row;

  align-items: stretch;
  cursor: pointer;
  box-shadow: none;

  // Add separation between the picker and the multi-link display
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &.font-icon-link::before {
    margin: $spacer-xs;
  }
}

.link-picker__cannot-create {
  cursor: default;
  flex-grow: 1;
  padding: 16px 13px;
}

.link-picker__menu {
  flex-grow: 1;
}

.link-picker__menu-toggle {
  width: 100%;
  height: 100%;
  text-align: left;

  &::before {
    padding: $spacer-xs;
  }
}

.link-picker__link {
  @extend %link-row;

  align-items: center;
  text-align: left;
  margin-right: 0;
  justify-content: space-between;
  position: relative;

  &:not(:last-child) {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(:first-child) {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:hover, &:focus {
    background: $gray-100;
    text-decoration: none;
    color: inherit;
  }

  // version-state icon
  &::before {
    top: 29px;
    left: 32px;
    content: ' ';
    position: absolute;
    border: 1px solid $state-draft;
    border-radius: 100%;
    bottom: 6px;
    box-shadow: 0 0 1px .5px $white;
    display: block;
    height: 8px;
    width: 8px;
    z-index: 1;
  }

  &--draft::before {
    background-color: $state-draft-bg;;
  }

  &--modified::before {
    background-color: $state-modified-bg;
  }

  &--unsaved::before,
  &--published::before {
    display: none;
  }
}

.link-picker__button {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  text-align: left;
  border: none;
  margin-right: 0;
  &::before {
    font-size: 1.231rem;
    padding: .76925rem;
    margin-right: 6px;
    flex-grow: 0;
  }
}

.link-picker__link-detail {
  flex-grow: 1;
}

.link-picker__clear {
  flex-grow: 0;
}

.link-picker__url {
  color: $link-color;
}

.link-picker__title-text {
  margin-right: 5px;
}

.link-picker__title .badge {
  color: #cf3f00;
  background-color: #fff2ea;
  padding: 2px 3px 2px 4px;
}
