.link-field__container {
  // Gives an anchor point for the loading elements, which is necessary for
  // it to work nicely between breakpoints
  position: relative;
}

// Needed to avoid the loading overlay expanding beyond the width of the actual field holder
.link-field__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .cms-content-loading-overlay {
    position: relative;
  }
}

.link-field__save-record-first,
.link-field__loading_error {
  padding-top: 7px;
}

.link-field__container .btn-link {
  position: absolute;
  right: 0;

  &:focus,
  &:not(:disabled):not(.disabled):active {
    box-shadow: none;
  }
}
