name: Dispatch CI

on:
  # At 8:40 AM UTC, only on Sunday and Monday
  schedule:
  - cron: '40 8 * * 0,1'

jobs:
  dispatch-ci:
  name: Dispatch CI
  # Only run cron on the silverstripe account
  if: (github.event_name == 'schedule' && github.repository_owner == 'silverstripe') || (github.event_name != 'schedule')
  runs-on: ubuntu-latest
  steps:
    - name: Dispatch CI
      uses: silverstripe/gha-dispatch-ci@v1
